#notification_window {
    position: absolute;
    z-index: 10;
    width: 25%;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
}

/* #notification_disconnected {
    position: absolute;
    z-index: 10;
    width: 100;
    bottom: 1.5rem;
    padding: 1.5rem;
} */