.venv/
.vscode/
__pycache__/
node_modules/
grbl-1.1h/*
!grbl-1.1h/simport.sh
!grbl-1.1h/grbl_sim.exe

!grbl-1.1h/simport_3axis.sh
!grbl-1.1h/grbl_sim_3axis.exe
rotaprint.db
.DS_Store

tests/js/*
tests/three/OrbitControls.js
tests/three/three.js