<div class="field">
    <fieldset disabled class="advanced_setting">

        <!-- Title -->
        <label class="label">{{title}} <code>{{id}}</code></label>

        <div class="columns" style="margin: 0;">
            <!-- Setting box -->
            <div class="column" style="padding: 0;">
                <div class="field has-addons" style="margin: 0;">
                    <p class="control">
                        <input id="setting_{{id}}" class="input" type="number" style="width: 100px;"
                            oninput="check_changed(this)">
                    </p>
                    <p class="control">
                        <a class="button is-static" style="width: 60px;">{{unit}}</a>
                    </p>
                </div>
            </div>

            <!-- Default button -->
            <div class="column" style="padding: 0;">
                <p class="control">
                    <button disabled onclick="set_default('setting_{{id}}')"
                        class="button is-pulled-right advanced_setting">Default</button>
                </p>
            </div>
        </div>

        <!-- Help -->
        <p class="help">{{help}}</p>
    </fieldset>
</div>