html, .section, .quickview-body {
	scroll-behavior: smooth
}

/* Fonts and custom Bulma */
.is-family-code, code {
  font-family: 'Roboto Mono', monospace !important;
}

/* Selection colour */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #f14668;
}

::selection {
  color: white;
  background: #f14668;
}

/* Pageloader */
.pageloader {
  background-color: white;
}
/* Used to display X if page does not load */
.pageloader.is-stopped::after {
    display: inline-block;
    content: "\00d7";
    color: black;
    scale: 5;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width: 0.4em;
    height: 1em;
    -webkit-animation:loader-figure 0s infinite cubic-bezier(.215,.61,.355,1);
    animation:loader-figure 0s infinite cubic-bezier(.215,.61,.355,1)
}

.pageloader::after {
  border: 0 solid #000
}

.pageloader .title {
  color: black;
}

/* Used to configure overlay screens */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Sticky for menu contents */
.sticky	{
    position: sticky;
    top: 5em;
}

/* Removes arrows from number input box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove switch outline after toggling */
.switch[type=checkbox]:focus+label::after,.switch[type=checkbox]:focus+label::before,.switch[type=checkbox]:focus+label:after,.switch[type=checkbox]:focus+label:before{
  outline:0;
}

/* Fix switch vertical position */
.switch[type=checkbox]+label::before,.switch[type=checkbox]+label:before{
  top:0.1rem;
}

.switch[type=checkbox]+label::after,.switch[type=checkbox]+label:after{
  top:0.35rem;
}

.modal-card-title {
  font-weight: bold;
  text-transform: lowercase;
}

/* For use on horizontal sliders */
.range-labels {
  display: flex;
  justify-content: space-between;
  padding-left: 0.3em;
  padding-right: 0.3em;
  top: -1em;
  position: relative;
  margin-bottom: -1em;
}

/* Increase spacing in settings */
.field:not(:last-child) {
  margin-bottom: 2rem
}

.icon_button {
  cursor:pointer;
  color: rgba(10, 10, 10, 0.2);
}

.icon_button:hover {
  color: rgba(10, 10, 10, 0.3);
}

.icon_button:active {
  color: rgba(10, 10, 10, 0.4);
}

.log_table td {
  vertical-align: middle;
  border: 0;
}

.menu-list a.is-active {
  background-color: #f14668
}

#logs_quickview_button {
  position: absolute;
  top: calc(50% - 12px);
  right: 48px;
  opacity: 20%;
  border: 0;
  z-index: 2;
}

#logs_quickview_button:hover {
  opacity: 30%;
}

#logs_quickview_button:active {
  opacity: 40%;
}